

.pokemon-card.caught {
    background-color: red;
  }
  
  .pokemon-card.not-caught {
    background-color: #8df3a8;
  }

  .disabled-button {
    background-color: rgb(233, 224, 224);
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    cursor: not-allowed;
  }

  .button {
    background-color: #a88df3;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
   
  }


