<h1>Showing 50 pokemons</h1>
<button (click)="updateOffsetPage(-50)">Previous Page</button>
<button (click)="updateOffsetPage(50)">Next page</button>


<div class="pokemon-card-container">
  <div *ngFor="let pokemon of pokemons; let i = index;">
    <div class="pokemon-card" [class.caught]="pokemon.catched" [class.not-caught]="!pokemon.catched">
      <img [src]="pokemon.image" alt="{{ pokemon.name }}">
      <p class="pokemon-title">{{ pokemon.name }}</p>
      <button (click)="catchAndSave(pokemon, i, 'save')">gotta catch (em all)</button>
    </div>
  </div>
</div>