.pokemon-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
  
  }
  .pokemon-card {
    background-color: #8df3a8;
    border: 2px solid rgb(232, 227, 227);
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
  }