.pokemon-card-container {
    display: grid;
    grid-template-columns: auto auto auto;

}

.pokemon-card {
    position: relative;
    border: 2px solid rgb(232, 227, 227);
    text-align: center;
    text-transform: capitalize;
}

.pokemon-title {
    font-size: 40px;
}